Backend/BrewMonitor.json
[{"type":"tab","id":"f0af3643.604ff","label":"Sheet 1","name":"v1.0"},{"id":"ad91e949.1b5c6","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"brew","name":"BrewDB"},{"id":"24bc4078.764c6","type":"http in","name":"List","url":"/api/v1.0/list","method":"get","x":62,"y":72,"z":"f0af3643.604ff","wires":[["2042b7b4.f7ecc"]]},{"id":"58b4a0f6.7db4d","type":"http response","name":"Response","x":709,"y":72,"z":"f0af3643.604ff","wires":[]},{"id":"6c958f91.dca47","type":"debug","name":"Log","active":true,"console":"false","complete":"payload","x":705,"y":216,"z":"f0af3643.604ff","wires":[]},{"id":"f6a5afc9.82e07","type":"http in","name":"Write","url":"/api/v1.0","method":"post","x":67,"y":199,"z":"f0af3643.604ff","wires":[["2f950b5e.fdc184","95a96b26.b31bf"]]},{"id":"a6a6c911.a761a8","type":"http response","name":"Response","x":371,"y":199,"z":"f0af3643.604ff","wires":[]},{"id":"e19a6241.9209d","type":"debug","name":"LogPost","active":true,"console":"false","complete":"true","x":361,"y":283,"z":"f0af3643.604ff","wires":[]},{"id":"d139a03c.b6d638","type":"comment","name":"API GET Handler","info":"","x":90,"y":35,"z":"f0af3643.604ff","wires":[]},{"id":"4061c04c.fcd59","type":"comment","name":"API POST Handler","info":"","x":100,"y":161,"z":"f0af3643.604ff","wires":[]},{"id":"804a0864.bf1c3","type":"mongodb out","mongodb":"ad91e949.1b5c6","name":"brew-write","collection":"tempData","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":368,"y":242,"z":"f0af3643.604ff","wires":[]},{"id":"95a96b26.b31bf","type":"function","name":"Stamp","func":"var temps = JSON.parse(msg.req.body);\ntemps.timestamp = new Date(temps.timestamp);\nreturn temps;","outputs":1,"x":196,"y":242,"z":"f0af3643.604ff","wires":[["e19a6241.9209d","804a0864.bf1c3"]]},{"id":"2f950b5e.fdc184","type":"function","name":"ResData","func":"var newDate = new Date();\nnewDate.setMinutes(newDate.getMinutes() + 30);\nmsg.payload = newDate;\nreturn msg;","outputs":1,"x":203,"y":199,"z":"f0af3643.604ff","wires":[["a6a6c911.a761a8"]]},{"id":"6feb91f8.a25a88","type":"mongodb in","mongodb":"ad91e949.1b5c6","name":"brewTempRead","collection":"tempData","operation":"find","x":522,"y":72,"z":"f0af3643.604ff","wires":[["aba51d92.bbb448"]]},{"id":"4ce49bbd.e2eab4","type":"http in","name":"Help","url":"/api/v1.0/help","method":"get","x":67,"y":374,"z":"f0af3643.604ff","wires":[["a8ad2269.2797b"]]},{"id":"e30957.dc32cea8","type":"http response","name":"","x":355,"y":374,"z":"f0af3643.604ff","wires":[]},{"id":"a8ad2269.2797b","type":"file in","name":"helppage","filename":"../help.html","format":"utf8","x":206,"y":374,"z":"f0af3643.604ff","wires":[["e30957.dc32cea8"]]},{"id":"2042b7b4.f7ecc","type":"function","name":"Build Search","func":"var query=\"{\";\nvar i=false;\nfor(var x in msg.payload)\n{\n\tif(i)\n\t\tquery+=\",\";\n\ti=true;\n\tquery += \"\\\"\"+x+\"\\\":\"+msg.payload[x];\n}\nquery+=\"}\";\nmsg.payload=query;\nreturn msg;","outputs":1,"x":210,"y":72,"z":"f0af3643.604ff","wires":[["56dc0ef8.81da88"]]},{"id":"56dc0ef8.81da88","type":"json","name":"","x":358,"y":72,"z":"f0af3643.604ff","wires":[["6feb91f8.a25a88"]]},{"id":"2ec22720.f1e328","type":"inject","name":"RollingDB","topic":"DBBackup","payload":"","payloadType":"date","repeat":"","crontab":"0 * * * *","once":false,"x":88,"y":449,"z":"f0af3643.604ff","wires":[[]]},{"id":"aba51d92.bbb448","type":"function","name":"clean","func":"if(msg.payload.length<1)\n\tmsg.payload=\"\";\nreturn msg;","outputs":1,"x":663,"y":145,"z":"f0af3643.604ff","wires":[["58b4a0f6.7db4d","6c958f91.dca47"]]},{"id":"e407086f.0a845","type":"comment","name":"API Help","info":"","x":68,"y":334,"z":"f0af3643.604ff","wires":[]}]