Backend/BrewMonitor.js
[{"type":"tab","id":"f0af3643.604ff","label":"Sheet 1","name":"BrewMonitorV1.0"},{"id":"24bc4078.764c6","type":"http in","name":"Read","url":"/api/brew/v1.0","method":"get","x":66,"y":121,"z":"f0af3643.604ff","wires":[["15d0b9df.6f023e"]]},{"id":"58b4a0f6.7db4d","type":"http response","name":"Response","x":517,"y":122,"z":"f0af3643.604ff","wires":[]},{"id":"6c958f91.dca47","type":"debug","name":"Log","active":true,"console":"true","complete":"payload","x":370,"y":167,"z":"f0af3643.604ff","wires":[]},{"id":"617f3968.7d7d68","type":"json","name":"ToJSON","x":373,"y":120,"z":"f0af3643.604ff","wires":[["58b4a0f6.7db4d"]]},{"id":"15d0b9df.6f023e","type":"function","name":"SampleData","func":"msg.payload = \"{\\\"test\\\":\\\"Hello World!\\\"}\";\nreturn msg;","outputs":"2","x":218,"y":121,"z":"f0af3643.604ff","wires":[["617f3968.7d7d68"],["6c958f91.dca47"]]},{"id":"f6a5afc9.82e07","type":"http in","name":"Write","url":"/api/brew/v1.0","method":"post","x":65,"y":303,"z":"f0af3643.604ff","wires":[["13cbfaa3.d2e805","2f950b5e.fdc184"]]},{"id":"a6a6c911.a761a8","type":"http response","name":"Response","x":377,"y":303,"z":"f0af3643.604ff","wires":[]},{"id":"e19a6241.9209d","type":"debug","name":"LogPost","active":true,"console":"true","complete":"payload","x":364,"y":352,"z":"f0af3643.604ff","wires":[]},{"id":"13cbfaa3.d2e805","type":"json","name":"FromJSON","x":207,"y":352,"z":"f0af3643.604ff","wires":[["e19a6241.9209d"]]},{"id":"2f950b5e.fdc184","type":"function","name":"ResData","func":"msg.payload = \"OK\";\nreturn msg;","outputs":1,"x":201,"y":303,"z":"f0af3643.604ff","wires":[["a6a6c911.a761a8"]]},{"id":"d139a03c.b6d638","type":"comment","name":"API GET Handler","info":"","x":94,"y":84,"z":"f0af3643.604ff","wires":[]},{"id":"4061c04c.fcd59","type":"comment","name":"API POST Handler","info":"","x":98,"y":265,"z":"f0af3643.604ff","wires":[]}]